<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="mb-4">Volunteer Information</h1>
      <%= render 'volunteers/form', volunteer: @volunteer %>
    </div>
  </div>
</div>
