<div class='container mt-5'>
  <div class='row'>
    <div class='col-md-6 offset-md-3'>
      <div class='alert alert-success' role='alert'>
        <h3 class='mb-4'>Thank you for volunteering!</h3>
        <p>Your information has been successfully submitted.</p>
        <p>Would you like to add another volunteer?</p>
        <%= link_to 'Add New Volunteer', root_path, class: 'btn btn-primary mt-3' %>
      </div>
    </div>
  </div>
</div>
